@use 'base/variables'as v;
@use 'base/mixins'as m;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 0 1rem;
    position: relative;

    &__links {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: v.$negro;

        &--bold {
            font-weight: bold;
        }

        &--button {
            background-color: v.$negro;
            color: v.$blanco;
            padding: 2rem;
            transition-property: background-color;
            transition-duration: .3s;

            &:hover {
                background-color: #212121;
            }
        }
    }
}